@tailwind base;
@tailwind components;
@tailwind utilities;

//carousels
.carousel {
  background: #eee;

  &-cell {
    width: 66%;
    aspect-ratio: 1;
    margin-right: 2rem;
    background: white;
    border-radius: 2rem;
  }
}

.flickity {
  &-prev-next-button {
    width: 7%;
    height: 10%;
    background: rgba(0.3, 0.3, 0.3, 0.7);

    &:hover {
      background: rgba(0.2, 0.2, 0.2, 1);
    }
  }

  &-button-icon {
    fill: white;
  }

  &-page-dots {
    bottom: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .dot {
      width: 20%;
      height: 20%;
      opacity: 1;
      background: transparent;
      border: 2px solid white;

      &.is-selected {
        background: white;
      }
    }
  }
}

// intersection initial styles
.fade-on-scroll {
  opacity: 0;
  transition: opacity 1s;
}

.expand-on-scroll {
  > div {
    max-height: 0;
    transition: max-height 1s;

    > img {
      scale: 1.5;
      transition: scale 1s;
    }
  }
}
